.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: -.125em;
  fill: currentColor;
}



/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }

  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
  color: #5cf;
}


main h1,
main h2 {

  color: #5cf !important;
}

main h2 {
  margin-top: 2.5rem !important;
  border-bottom: #5cf 2px solid !important;

}

.sidebar-heading {
  font-size: .75rem;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

svg.bi.logo {

  color: black;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}


.links .link a {
  font-family: monospace;
}

.links .link a:hover {
  text-decoration: underline;
}

.links .link a {
  text-decoration: none;
}

.links .link a:hover {
  text-decoration: underline;
}

plop {
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
}


img {

  object-fit: contain !important;
  background-size: 10px 10px;
  background-image:
    linear-gradient(to right, #ffffff11 1px, transparent 1px),
    linear-gradient(to bottom, #ffffff11 1px, transparent 1px);
  color: #000000;

}

svg.card-img-top {

  object-fit: contain !important;

  color: black;

}

.card-text {
  font-size: .8rem;
  text-align: center;
  opacity: .4;
  transition: opacity .3s;
}

.card:hover .card-text {

  opacity: 1;
}

.card-body {
  padding: 2px;
}