<!doctype html>
<html lang="{{ page.language }}">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{ page.meta }}
  <title>{{ page.title }}</title>
  <link rel="icon" href="{{ media }}/favicon.ico" />
  <!-- not minified so you can check it. ^^ -->
  <link href="{{ asset }}/lib/bootstrap.min.css" rel="stylesheet" />
  <link href="{{ asset }}/lib/lightgallery.min.css" rel="stylesheet" />
  <link href="{{ asset }}/lib/lg-transitions.min.css" rel="stylesheet" />
  <link href="{{ asset }}/namaskar.min.css" rel="stylesheet" />
  <link href="{{ asset }}/{{ site.domain }}.css" rel="stylesheet" />

  <style></style>
  {% if site.ajaxify %}
  <script>
    absroot = "{{ absroot }}"
  </script>
  <script src="{{ asset }}/lib/ajaxify.min.js"></script>

  {% endif %}
</head>
<body{% if page.body.class %} class="{{ page.body.class }}" {% endif %}>
  {% include navbar.html %}



  <main class="{{ page.container.full ? 'container-full' : 'container' }}">



    <div id="background">
      <div id="backgrounds">
        {% if page.background %}
        {{ page.background }}
        {% endif %}
        {% if page.bg.img %}
        <img src="{{media}}/img/{{ page.bg.img }}" class="{{ page.bg.class }}">
        {% endif %}
        {% if page.bg.color %}
        <div id="bgcolor" style="background-color: {{ page.bgcolor }}"></div>
        {% endif %}

      </div>
    </div>

    <div id="content">{{ page.content }}</div>

  </main>

  <script src="{{ asset }}/lib/bootstrap.bundle.min.js"></script>
  <script src="{{ asset }}/lib/jquery.min.js"></script>
  <script src="{{ asset }}/lib/lightgallery-all.min.js"></script>
  <script src="{{ asset }}/lib/vivus.min.js"></script>
  <script src="{{ asset }}/{{ site.domain }}.js"></script>
  <script src="{{ asset }}/namaskar.js"></script>

  </body>

</html>