/* Featurettes
  ------------------------- */

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}


.featurette-heading {
    letter-spacing: -.05rem;
    margin-top: 0;
}

/* rtl:end:remove */

.featurette p.lead {
    font-size: 2rem;
}


@media (min-width: 40em) {
    .featurette-media {
        display: flex;
        align-items: center;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 0rem;
    }
}