/* Navbar */
body.navbar-fixed-top {
    margin-top: 60px;
}

nav.navbar {
    height: 60px !important;
}



a.navbar-brand svg.logo {

    color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

a.navbar-brand {

    display: flex;
    align-items: center;
}

.bg-primary .navbar-nav .nav-link.active {

    text-decoration: overline;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
    color: #fff !important;
    cursor: pointer;
}

.bg-primary .navbar-nav a.nav-link:hover {

    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
    color: #fff !important;

}


.navbar .nav-sep {

    padding-left: 2px !important;
    padding-right: 2px !important;
    color: #fff !important;
}

.navbar .nav-sep:hover {
    text-decoration: none ! important;
    color: #fff !important;

}




.navbar-collapse.collapse.show,
.navbar-collapse.collapsing {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh !important;
    padding: 30px 30px 30px 30px;
    z-index: 900;


}


.mainlinks {

    padding: 0;
    height: 60px;


}