.navbar h1 {
    position: relative;
    top: -20px;
    coolor: #000;
    font-size: 48px;
    text-align: left;
}



/* Navbar */
body.navbar-fixed-top {
    margin-top: 60px;
}

a.navbar-brand svg.logo {

    padding: 0;
    margin: 0;

    color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}


a.navbar-brand {
    height: 60px !important;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
    margin: 0;
    transition: all;

}

.navbar-brand img {

    overflow-y: visible;
}

a.navbar-brand strong,
a.navbar-brand strong:hover {
    font-size: 3rem;
    font-weight: bold;
    padding: 4px;
    color: rgba(var(--bs-primary-color), 1) !important;
}


.bg-primary .navbar-nav .nav-link.active {

    text-decoration: overline;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
    color: #fff !important;
    cursor: pointer;
}

.bg-primary .navbar-nav a.nav-link:hover {

    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
    color: #fff !important;

}

nav.navbar {

    zzz-index: 5000 !important;
    margin: 0px !important;
    height: 60px !important;
}

.navbar .nav-sep {

    padding-left: 2px !important;
    padding-right: 2px !important;
    color: #fff !important;
}

.navbar .nav-sep:hover {
    text-decoration: none ! important;
    color: #fff !important;

}




.navbar-collapse.collapse.show,
.navbar-collapse.collapsing {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh !important;
    padding: 30px 30px 30px 30px;
    z-index: -10;


}


.mainlinks {

    padding: 0;
    height: 60px;


}