/* TOC : table of content */

#table-of-contents {
    float: right;
    display: none;
    width: 320px;
    border-left: 2px solid inherit;
    padding: 8px;
    background-color: #234;
    color: white;
    border-radius: 8px;

}

#table-of-contents:before {
    content: attr(data-toc-header);
    display: block;
    font-size: 120%;
    font-weight: bold;
    width: 100%;
    text-align: center;

    border-bottom: 2px solid inherit;
}

#table-of-contents.show {
    display: block;
}

#table-of-contents a {
    text-decoration: none;
    font-weight: normal;
    display: block;
    color: inherit;

}

#table-of-contents ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

#table-of-contents ol li {

    padding: 0;
    margin: 0;
}

#table-of-contents ol {
    counter-reset: item;
    padding: 0;
    margin: 0;
}

#table-of-contents ol li {
    display: block
}

#table-of-contents ol li:before {
    content: counters(item, ".") ". ";
    counter-increment: item
}


#table-of-contents .h2 {
    list-style: none;
    font-size: 1.8rem;
}

#table-of-contents .h3 {
    padding-left: 1em;
    font-size: 1.6rem;
}