
<IfModule mod_rewrite.c>
RewriteEngine on

# this folder content the website data, so it should not be accessible
RewriteRule "media/_data/" - [F]

# we don't show files in folders
Options -Indexes

# Redirect to https, except localhost
RewriteCond %{HTTPS} off
RewriteCond %{REMOTE_ADDR} !127\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}
RewriteCond %{HTTP_HOST} !localhost [NC]
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# remove trailing "/" in folder names 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [R,L]

# if the requested url does not exist, index.php will take care of it.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)?$ index.php?url=$1 [L,QSA]
</IfModule>