 html,
 body {
     margin: 0 !important;
     padding: 0 !important;
     overflow-x: hidden !important;


 }

 html {

     font-size: 1.6rem;
 }

 * {
     font-family: "Lato", sans-serif;
 }

 .navbar-brand strong {
     font-family: "Great Vibes", cursive !important;

     font-style: normal;
     font-size: 1.4rem;

     color: var(--orange);
     text-shadow: 1px 1px 1px #000;
     background-color: transparent;
 }

 @media only screen and (min-width: 600px) {
     .navbar-brand strong {
         font-size: 1.8rem;
         padding-top: 4px !important;
     }
 }

 nav .nav-link {
     color: #000000 !important;
     font-weight: bold;
     font-size: 1rem;
     margin: 1rem;
 }


 .navbarbg,
 .bg-dark {
     background-color: transparent !important;
 }


 nav.navbar {
     background-color: #00000000 !important;
     transition: background-color 300ms linear;
     padding: 0px !important;

 }

 @media only screen and (min-width: 600px) {
     nav.navbar {

         padding: 18px !important;

     }
 }


 nav.navbar.nav-colored {
     background-color: #223344CC !important;


 }


 :root {
     --primary: #fc0;
     --secondary: #188bf6;
     --white: #ffffff;
     --gray: #cbd5e0;
     --black: #000000;
     --red: #e93d3d;
     --orange: #fc0;
     --yellow: #faf089;
     --green: #9ae6b4;
     --teal: #81e6d9;
     --malibu: #63b3ed;
     --indigo: #757BBD;
     --purple: #d6bcfa;
     --pink: #fbb6ce;

 }

 h1,
 h2,
 h3,
 a.nav-link {
     color: var(--orange) !important;
     text-align: center;
 }

 h1,
 h2,
 h3,
 a.nav-link,
 .hero p {
     font-family: "Italiana", cursive !important;
     text-shadow: 1px 2px 1px #440000;
 }


 strong,
 a {
     color: var(--orange) !important;
 }

 h2 {
     font-family: "Italiana", cursive !important;
     font-size: 1.4rem;
     font-weight: 800;
     text-shadow: 1px 2px 1px #00000077;
 }

 @media only screen and (min-width: 600px) {
     h2 {
         font-size: 2rem;
     }
 }

 blockquote p {
     font-family: "Italiana", cursive !important;
     color: var(--orange) !important;
     font-weight: 800;
     text-shadow: 1px 1px 1px #66000066;
     font-size: 1.4rem;
     line-height: .8;
     font-style: italic;
 }

 blockquote p:before {
     content: open-quote;
     font-size: 4rem;
     position: relative;
     top: 24px;

 }

 .featurette-media img.featurette-image {
     width: 400px;
     height: 400px;
     margin-bottom: 1rem;
     object-fit: cover;
     border-radius: 8px;

     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
 }

 .card {

     box-shadow: rgb(38, 57, 77, .4) 0px 20px 30px -10px;
 }

 .hero h1 {
     font-size: 2.6rem;

 }

 @media only screen and (min-width: 600px) {
     .hero h1 {
         font-size: 3.2rem;
     }
 }



 .hero p {
     font-size: 1.6rem;
     font-weight: 800;
     line-height: .9;
 }



 .active {
     text-decoration: overline;
 }

 main {
     width: 100%;
     overflow-x: visible;
     margin: 0;
     padding: 0;

 }

 li::marker {
     color: var(--orange) !important;
 }





 button.orange,
 a.orange {
     background-color: var(--orange) !important;
     color: black !important;
     font-weight: 800;
     font-family: "Italiana", cursive !important;
     text-shadow: none;
 }

 footer {
     background-color: #234;
     margin-top: 4rem;
     padding: 16px;
 }

 footer * {
     color: var(--white) !important;
     text-align: center;
     text-decoration: none !important;
 }

 .form-floating label {
     margin-left: 1rem;
 }

 input.form-control,
 textarea.form-control {
     border: 4px solid var(--orange);

 }

 form label {

     color: #223344;
 }


 input.form-control:required+label:after {
     content: " *";
     color: orangered;

 }

 button[type="submit"] {
     text-align: center;
     width: 50%
 }

 .navbar-toggler.animated-hamburger span {
     background: var(--orange) !important;
 }

 .navbar-collapse.bg-dark.collapse.show,
 .navbar-collapse.bg-dark.collapsing {
     background-color: #223344FF !important;
     z-index: -10;
     padding-top: 100px;
     transition: background-color 300ms;


 }