/* Hamburger Menu */
.hamburger {
    font-size: 2.4rem;
    width: 1em;
    height: 1em;
    padding: 0;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    border: 0 none;
    margin: 0 20px 0 0;
    background: transparent;
    position: relative;
    top: -18px;
}

.hamburger:focus {
    outline: 0;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 0.2em;
    margin: 0 0 0.2em;
    transition: transform 0.2s ease-in-out;
    border-radius: 0.25em;
}



/* not animated */
.hamburger {
    position: relative;
    top: -16px;
    color: #000;
    font-size: 2rem;
    text-align: left;
}