:root {

    --color1: #000;
    --color2: #fff;
    --color3: #fc0;


    --navbar-link: var(--color2);
    --navbar-brand: var(--color2);
    --navbar-bgc: #000B;


    --main-text-color: var(--color1);
    --main-bgc: var(--color2);
    --main-title-color: var(--color3);
    --main-link-color: var(--color3);

    --hero-title-color: var(--color3);
    --hero-text-color: var(--color2);

    --hero-navbar-bgc-start: transparent;
    --hero-navbar-bgc-end: var(--navbar-bgc);

    --hero-navbar-link: var(--color2);
    --hero-navbar-brand: var(--color3);



    --footer-bgc: var(--color1);
    --footer-text-color: var(--color2);
    --footer-link-color: var(--color3);
    --footer-title-color: var(--color3);

}

html,
body {
    margin: 0 !important;
    padding: 0 !important;

    scroll-behavior: smooth !important;

    scrollbar-color: var(--color2) var(--main-text-color);


}


div.hero h1,
div.hero h2 {
    color: var(--hero-title-color);
}

div.hero * {
    color: var(--hero-text-color);

}

div.hero.text-center * {
    text-align: center;

}


div.huge h2 strong,
div.huge h3 strong {
    color: var(--color1) !important;

}

div.huge.dark h2 strong,
div.huge.dark h3 strong {
    color: var(--color2) !important;

}



/******* COLORS AND SIZE *******/



html {
    font-size: 22px;


}





body {
    color: var(--color1);
    background: var(--color2);

}

h1,
h2,
h3,
h4 {
    color: var(--main-title-color);
}

main a {
    color: inherit;
    font-weight: bold;
    text-decoration: underline;
}



nav.navbar a.nav-link,
nav.navbar a.nav-link:hover,
nav.navbar a.nav-link.active {
    color: var(--hero-navbar-link);
}

nav.navbar a.navbar-brand strong,
nav.navbar a.navbar-brand:hover strong {
    color: var(--hero-navbar-brand);
}

nav.navbar {
    transition: background-color 1s;
}

body:not(.has_hero) nav.navbar {
    background: var(--navbar-bgc) !important;
}

body.has_hero nav.navbar {
    background: var(--hero-navbar-bgc-start);

}

body.has_hero nav.navbar.nav-colored {
    background: var(--hero-navbar-bgc-end);
}

/*** FOOTER ***/

footer .row {
    background-color: var(--footer-bgc);

}


footer {


    background-color: var(--footer-bgc);
}


footer * {

    color: var(--footer-text-color);

}

footer h1,
footer h2,
footer h3 {

    color: var(--footer-title-color);
    font-weight: bold;
}

footer a {

    color: var(--footer-link-color);
    font-weight: bold;
    text-decoration: none;
}

body.no-scroll {
    overflow: hidden !important;
    width: 100% !important;
    height: 100vh !important;

}

div.block.border {
    border: 2rem solid var(--color1);
}



main>p>img {

    margin: 16px;
}

main>p>img.square {
    aspect-ratio: 1/1;
    object-fit: cover;
    scale: 1;
    transition: scale 1s;

    max-width: 400px;

}

main>p>img.square:hover {
    aspect-ratio: 1/1;
    object-fit: cover;
    scale: 1.05;

}

main>p>img.nice {
    border-radius: 12px;

}

main>p>img.nice {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}


 
.stroke h1,
.stroke h2,
.stroke h3,
.stroke.h1 {

    color: #00000000 !important;
    -webkit-text-stroke-width: 2px;
    stroke-width: 2px;
    -webkit-text-stroke-color: #FFFFFF;
    stroke: #FFFFFF;
    text-shadow: 2px 2px 2px #00000033;

    font-size: calc(6vw + 6vh);
    opacity: 1;
    padding: 1rem 0;
    margin: 0;
    line-height: 1;
}



.huge h2 a,
.huge h3 a {
    text-decoration: underline;
    color: var(--color2);
}

div.zigzag .zigzag-content p:first-child:first-letter {

    font-size: 2rem;
    font-weight: bold;


}


.blockquote.huge>p,
figcaption.blockquote-footer.stroke {

    color: #FFFFFF !important;
    -webkit-text-stroke-width: 2px;
    stroke-width: 2px;
    -webkit-text-stroke-color: #FFFFFF;
    stroke: #FFFFFF;


    font-size: calc(6vw + 6vh);
    opacity: 1;
    padding: 1rem 0;
    margin: 0;
    line-height: 1;
}

.content h2+p,
.content h3+p {
    margin-top: 16px;

}

//STROKE .content p 
.bgblur {
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

  //  text-shadow: -1px -1px 4px black, 0 0 2px black, 1px 1px 4px black;

    text-align: left;

    padding: 0px 8px;
    line-height: 1.1;


}


// nav.navbar a.navbar-brand strong
.outline {

    color: #00000044 !important;
    -webkit-text-stroke-width: 1px;
    stroke-width: 1px;
    -webkit-text-stroke-color: #FFFFFF;
    stroke: #FFFFFF;
    text-shadow: 2px 2px 4px #00000044;
    font-size: calc(2vw + 3.5vh);
    opacity: 1;
    font-size: 1.6rem !important;


}

.hero.stroke a.h2,
.hero .submenu .nav-item {

    color: #ffffff !important;
    -webkit-text-stroke-width: 2px;
    stroke-width: 2px;
    -webkit-text-stroke-color: #FFFFFF;
    stroke: #FFFFFF;
    text-shadow: 2px 2px 4px black !important;
    font-size: calc(2vw + 3.5vh);
    opacity: 1;
    font-size: 1.6rem !important;
    opacity: .85;

}

.hero.huge a.h2:before,
.hero .submenu .nav-item:before {

    content: "▸ ";
    opacity: .5;


}

.hero .submenu.top {
    padding: 0;
}

main h2 {
    font-size: calc(2vw + 2vh);
    -webkit-text-stroke-color: var(--color1);
 
    

}


.id_div {
    padding-bottom: 40px;
}


blockquote.blockquote.huge>p,
figcaption.blockquote-footer.huge {
    padding: 0px;
    margin: 0px;

    max-width: 1024px;
    font-size: calc(3vw + 3vh);
    background-color: #00000022;

}

* {
    scroll-margin-top: 60px;
}


.stroke.light h1,
.stroke.light h2,
.stroke.light h3,
.stroke.light a {

    -webkit-text-stroke-color: var(--color1);
    stroke: var(--color1);
    text-shadow: 2px 2px 4px var(--color2);

}

.huge a {
    font-size: 5 vw;
}

.huge h2 {
    font-size: calc(3.5vw + 3.5vh);

    text-align: left;
}

.huge h3 {
    font-size: calc(3vw + 3vh);

    text-align: left;
}

.huge p {
    font-size: 1.2rem;
}


nav.navbar a.nav-link.active {
    text-decoration: overline;
}

 
  form.sent {
    opacity: .3!important;
} 

form.sent button#submit {
    display: none!important;
} 