 
:root {

    --color1: #000;
    --color2: #fff;
    --color3: #fc0;

    --bs-light: #d1d8dc;
    --bs-white: #ffffff;
    --bs-black: #000000;
    --bs-dark: #101318;
    --bs-primary: #284263;
    --bs-secondary: #ed1c58;
    --bs-info: #8568a8;
    --bs-success: #109c58;
    --bs-warning: #e1c812;
    --bs-danger: #ef1007;

    --navbar-link: var(--color2);
    --navbar-brand: var(--color2);
    --navbar-bgc: var(--bs-dark);


    --footer-bgc: var(--color1);
    --footer-text-color: var(--color2);
    --footer-link-color: var(--color3);
    --footer-title-color: var(--color3);

    --bs-font-size-base: 1.2rem; 
    --bs-body-font-size: var(--bs-font-size-base);
    --bs-heading-color: var(--bs-primary);

}


body { 

    --bs-body-color: var(--color1);
    --bs-body-bg: var(--color2);

    --hero-title-color: var(--color2);
    --hero-text-color: var(--color2);

    --hero-navbar-bgc-start: transparent;

    --hero-navbar-bgc-end: var(--navbar-bgc);

    --hero-navbar-link: var(--color2);
    --hero-navbar-brand: var(--color3);


    --footer-bgc: var(--navbar-bgc);
    --footer-text-color: var(--color2);
    --footer-link-color: var(--color2);
    --footer-title-color: var(--color2);


    /* Background colors for elements */
    --bs-bg-light: var(--color1);
    --bs-bg-dark: var(--color1);
    --bs-bg-body: var(--color1);


    --bs-text-light: var(--color2);
    --bs-text-dark: var(--color1);


    /*links Specific Variables*/
    --bs-link-color: var(--color1);
    --bs-link-hover-color: var(--color1);
    --bs-link-font-weight: "bold";
    --bs-link-decoration: "underline";


    /*Navbar-Specific Variables*/
    --bs-navbar-color: var(--color2);
    --bs-navbar-bg: var(--navbar-bgc);
    --bs-navbar-toggler-color: var(--color2);
    --bs-navbar-brand-color: var(--navbar-brand);
    --bs-navbar-brand-hover-color: var(--navbar-brand);
    --bs-navbar-nav-link-color: var(--navbar-link);
    --bs-navbar-nav-link-hover-color: var(--navbar-link);

 
    --bs-font-size-sm: calc(var(--bs-font-size-base) * 0.875);
    --bs-font-size-lg: calc(var(--bs-font-size-base) * 1.25); 
 
    /*
    --bs-hN-font-size ...
    */

    --bs-h1-font-size: calc(var(--bs-font-size-base) * 2.5);
    --bs-h2-font-size: calc(var(--bs-font-size-base) * 2);
    --bs-h3-font-size: calc(var(--bs-font-size-base) * 1.75);
}

html,
body {
    margin: 0 !important;
    padding: 0 !important;

    scroll-behavior: smooth !important;

    scrollbar-color: var(--color2) var(--color1);

}

 


nav.navbar a.nav-link,
nav.navbar a.nav-link:hover,
nav.navbar a.nav-link.active {
    color: var(--hero-navbar-link);
}

nav.navbar a.navbar-brand strong,
nav.navbar a.navbar-brand:hover strong {
    color: var(--hero-navbar-brand);
}

nav.navbar {
    transition: background-color 1s;
}

body:not(.has_hero) nav.navbar {
    background: var(--navbar-bgc) !important;
}

body.has_hero nav.navbar {
    background: var(--hero-navbar-bgc-start);

}

body.has_hero nav.navbar.nav-colored {
    background: var(--hero-navbar-bgc-end);
}

/*** FOOTER ***/

footer .row {
    background-color: var(--footer-bgc);

}


footer {


    background-color: var(--footer-bgc);
}


footer * {

    color: var(--footer-text-color);

}

footer h1,
footer h2,
footer h3 {

    color: var(--footer-title-color);
    font-weight: bold;
}

footer a {

    color: var(--footer-link-color);
    font-weight: bold;
    text-decoration: none;
}

body.no-scroll {
    overflow: hidden !important;
    width: 100% !important;
    height: 100vh !important;

}

div.block.border {
    border: 2rem solid var(--color1);
}



main>p>img {

    margin: 16px;
}

main>p>img.square {
    aspect-ratio: 1/1;
    object-fit: cover;
    scale: 1;
    transition: scale 1s;

    max-width: 400px;

}

main>p>img.square:hover {
    aspect-ratio: 1/1;
    object-fit: cover;
    scale: 1.05;

}

main>p>img.nice {
    border-radius: 12px;

}

main>p>img.nice {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}



.content h2+p,
.content h3+p {
    margin-top: 16px;

}

//STROKE .content p 
.bgblur {
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

  //  text-shadow: -1px -1px 4px black, 0 0 2px black, 1px 1px 4px black;

    text-align: left;

    padding: 0px 8px;
    line-height: 1.1;


}


.hero.huge a.h2:before,
.hero .submenu .nav-item:before {

    content: "▸ ";
    opacity: .5;


}

.hero .submenu.top {
    padding: 0;
}



.id_div {
    padding-bottom: 40px;
}


 

* {
    scroll-margin-top: 60px;
}


 

nav.navbar a.nav-link.active {
    text-decoration: overline;
}

 
  form.sent {
    opacity: .3!important;
} 

form.sent button#submit {
    display: none!important;
} 



svg.bi {
    width: 16px;
    height: 16px;
}



img.rounded8 {
    border-radius: 8px !important;

}

img.rounded16 {
    border-radius: 8px !important;

}


img.circle {
    border-radius: 50% !important;

}

img.shadow {

    box-shadow: 0px 0px 10px white;

}

figcaption {
    font-weight: bold;
}