/* TOC : table of content */

#table-of-contents {
    float: none;
    display: none;
    width: 100%;
    margin: 8px;
    padding: 8px;
    background-color: transparent;
    color: var(--color1);



}

@media (min-width: 768px) {
    #table-of-contents {
        float: left;
        width: 50%;


    }
}

#table-of-contents:before {
    content: attr(data-toc-header);
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
    width: 100%;
    text-align: center;

    border-bottom: 2px solid inherit;
}

#table-of-contents.show {
    display: block;
    
}

#table-of-contents a {
    text-decoration: none;
    font-weight: normal;
    display: block;
    color: inherit;

}

#table-of-contents ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

#table-of-contents ol li {

    padding: 0;
    margin: 0;
}

#table-of-contents ol {
    counter-reset: item;
    padding: 0;
    margin: 0;
}

#table-of-contents ol li {
    display: block
}

#table-of-contents ol li:before {
    content: counters(item, ".") ". ";
    counter-increment: item
}


#table-of-contents .h2 {
    list-style: none;
    font-size: 1.1em;
    display: none;
}

#table-of-contents .h3 {
    padding-left: 1em;
    font-size: 1em;
    display: none;
}

#table-of-contents.level2 .h2 {
    display: block;
}

#table-of-contents.level3 .h3 {
    display: block;
}

#table-of-contents.level4 .h4 {
    display: block;
}